body {
  margin: 0;
  padding: 0;
  background-color: #ede7f6;
}
.main{
  background-color: #673ab7;
  border-radius: 10px;
}

.button{
  width: 300px;
  background-color: #9c27b0;
  border-radius: 25px;
  cursor: pointer;
  transition: all .3s;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
}

.button:hover{
  box-shadow: 0px 6px 8px -3px rgba(0,0,0,0.3);
}

.button.active{
  background-color: #d05ce3;
  width: 100% !important;
  border-radius: 10px;
  cursor: default;
}

.image{
  margin-top: 50px;
  transition: all .3s;
  max-width: 450px;
  max-height: 350px;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
}
.image.hide{
  max-height: 0px;
  margin-top: 0px;
}

.image.hide img{
  opacity: 0;
}

.image img{
  border-radius: 10px;
  transition: all .1s;
}
