body {
  margin: 0;
  padding: 0;
  background-color: #ede7f6;
}

.main{
  background-color: #673ab7;
  border-radius: 5px;
}

.button{
  width: 300px;
  background-color: #9c27b0;
  border-radius: 25px;
  cursor: pointer;
  transition: all .3s;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
}

.button:hover{
  box-shadow: 0px 6px 8px -3px rgba(0,0,0,0.3);
}

.button.active{
  background-color: #d05ce3;
  width: 100% !important;
  border-radius: 5px;
  cursor: default;
}

.image{
  margin-top: 30px;
  transition: all .3s;
  max-width: 450px;
  max-height: 350px;
  border-radius: 5px;
  overflow-y: hidden;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
}
.image.hide{
  max-height: 0px;
  margin-top: 0px;
}

.image.hide img{
  opacity: 0;
}

.image img{
  border-radius: 5px;
  transition: all .1s;
}

.image-block:hover .download{
  opacity: 1;
}

.download{
  position: relative;
  bottom: 15px;
  padding: 10px;
  height: 35px;
  border-radius: 25px;
  background-color: #4caf50;
  transition: all .3s;
  color: white;
  opacity: 0;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
}
.download:hover, .download:active {
  text-decoration: none;
  color: white;
  box-shadow: 0px 6px 8px -3px rgba(0,0,0,0.3);
}

.download.hide{
  transition-delay: all .3s;
  opacity: 0;
  display: none;
}
